.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.sidebar {
    width: 15%;
    background-color: #1E1E1E;
    height: 100%;
    text-align: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

nav ul li {
    padding: 10%;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #FFD700;
}

.download-cv {
    margin-top: auto;
    padding: 10px;
    background-color: #FFD700;
    border: none;
    cursor: pointer;
}

.content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.intro {
    max-width: 500px;
}

.greeting {
    font-size: 16px;
    color: #FFD700;
}

h1 {
    font-size: 50px;
    margin: 10px 0;
}

.role {
    font-size: 20px;
}

.role span {
    color: #FFD700;
}

.say-hello {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #FFD700;
    border: none;
    cursor: pointer;
}

.image-overlay {
    position: relative;
}

.demos {
    position: absolute;
    top: -20px;
    right: -20px;
    background-color: #FFD700;
    padding: 5px 10px;
    font-weight: bold;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar-up {
    height: 20%;
}
.sidebar-down {
    height: 30%;
}
.center-content {
    align-content: center;
    align-items: center;
}
.sidebar-middle{
    height: 50%;
}